:root {
    --color1: #222831;
    --color2: #393E46;
    --color3: #00ADB5;
    --color4: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.img_source {
    font-size: 15px;
    color: var(--color4);
    font-style: italic;
}

.img_source_link {
    color: var(--color4);
    text-decoration: none;
}

/* Section 1 ----------------------------------------------------------------------------------------------- */
.section_1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--color1);
}

.header {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--color4);
    margin: 20px 0px 20px;
}

.logo{
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--color3);
}

.nav_bar {
    height: fit-content;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar > ul {
    padding: 5px;
    /* background-color: var(--color3); */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}

.nav_bar > ul > li {
    list-style: none;
    font-size: 25px;
    cursor: pointer;
}

.nav_bar > ul > li > a {
    text-decoration: none;
    color: var(--color4);
}

.section_1_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.section_1_left_div {
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color4);
}
.section_1_left_div > h2 {
    margin-bottom: 20px;
}
.section_1_left_div > h1 {
    margin-bottom: 20px;
}

.section_1_right_div {
    width: 40%;
    height: 75%;
}

.section_1_right_div > img {
    width: 70%;
    height: 85%;
}