<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central Processing Unit (CPU)</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section class="section_wiki">
        <br>
        <div class="wiki_title">
            <div class="wiki_back">
                <a href="{{ url_for('main.index') }}#section2">←</a>
            </div>
            <h1 style="margin-top: 0.4%; font-weight: 500;">Central processing unit</h1>
        </div>
        <div class="border" style="width: 100%; margin-top: 12px; height: 0.5px; background-color: gray;"></div>
        <div class="wiki_container">
            <div class="wiki_content">
                <div class="wiki_text">
                    <p>
                        A central processing unit (CPU), also called a central processor, main processor, or just processor, is the primary processor in a given computer.[1][2] Its electronic circuitry executes instructions of a computer program, such as arithmetic, logic, controlling, and input/output (I/O) operations.[3][4][5] This role contrasts with that of external components, such as main memory and I/O circuitry,[6] and specialized coprocessors such as graphics processing units (GPUs).
                    </p>
                    <br>
                    <p>
                        The form, design, and implementation of CPUs have changed over time, but their fundamental operation remains almost unchanged.[7] Principal components of a CPU include the arithmetic–logic unit (ALU) that performs arithmetic and logic operations, processor registers that supply operands to the ALU and store the results of ALU operations, and a control unit that orchestrates the fetching (from memory), decoding and execution (of instructions) by directing the coordinated operations of the ALU, registers, and other components. Modern CPUs devote a lot of semiconductor area to caches and instruction-level parallelism to increase performance and to CPU modes to support operating systems and virtualization.
                    </p>
                    <br>
                    <p>Most modern CPUs are implemented on integrated circuit (IC) microprocessors, with one or more CPUs on a single IC chip. Microprocessor chips with multiple CPUs are called multi-core processors.[8] The individual physical CPUs, called processor cores, can also be multithreaded to support CPU-level multithreading.[9]</p>
                    <br>
                    <p>An IC that contains a CPU may also contain memory, peripheral interfaces, and other components of a computer;[10] such integrated devices are variously called microcontrollers or systems on a chip (SoC).</p>
                </div>
                <div class="wiki_image" class="cpu">
                    <div class="cpu_image"></div>
                    <br>
                    <p>A high-end consumer CPU made by Intel: an Intel Core i9-14900KF</p>
                    <div class="wiki_image_text">
                    </div>               
                </div>
            </div>
        </div>       
    </section>
</body>
</html>