{% extends "base.html" %}

{% block body %}
    <section id="#section1" class="section_1">
        <header class="header">
            <nav class="nav_bar">
                <h2>
                    <a href="#section1">GitGud</a>
                </h2>
                <!-- <ul class="tooltip">
                    <li><a href="#">Project</a></li>
                    <span class="tooltiptext">Click Here to See our Project</span>
                </ul> -->
            </nav>
        </header>

        <div class="border"></div>

        <div class="section_1_content">
            <div class="section_1_left_div">
                <h1>Hardware and Behavioural AI</h1>
                <a href="#section2" class="down-arrow">🔎 Learn More 🔍</a>
            </div>
        </div>
    </section>

    <section id="section2" class="section_2">
        <br>
        <h1>Hardware</h1>
        <div class="border" style="width: 100%; margin-top: 5px;"></div>
        <div class="container">
            <div class="hardware_content">
                <div class="hardware_text">
                    <p>
                        Computer hardware includes the physical parts of a 
                        <a href="{{ url_for('main.computer') }}" class="highlight">computer</a>, such as the 
                        <a href="{{ url_for('main.cpu') }}" class="highlight">central processing unit</a> (CPU), 
                        <a href="{{ url_for('main.ram') }}" class="highlight">random-access memory</a> (RAM), 
                        <a href="{{ url_for('main.motherboard') }}" class="highlight">motherboard</a>, 
                        <a href="{{ url_for('main.storage') }}" class="highlight">computer data storage</a>, 
                        <a href="{{ url_for('main.graphic') }}" class="highlight">graphics card</a>, 
                        <a href="{{ url_for('main.sound') }}" class="highlight">sound card</a>, 
                        and <a href="{{ url_for('main.case') }}" class="highlight">computer case</a>. 
                        It includes external devices such as a 
                        <a href="{{ url_for('main.monitor') }}" class="highlight">monitor</a>, 
                        <a href="{{ url_for('main.mouse') }}" class="highlight">mouse</a>, 
                        <a href="{{ url_for('main.keyboard') }}" class="highlight">keyboard</a>, and 
                        <a href="{{ url_for('main.speaker') }}" class="highlight">speakers</a>.
                    </p>
                    <br>
                    <p class="software-text">
                        By contrast, software is a set of written instructions that can be stored and run by hardware. 
                        Hardware derived its name from the fact it is hard or rigid with respect to changes, whereas 
                        software is soft because it is easy to change.
                    </p>
                    <br>
                    <p>Hardware is typically directed by the software to execute any command or instruction. A combination of hardware and software forms a usable computing system, although other systems exist with only hardware.</p>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide">

                    <div class="carousel-inner">

                        {% for item in hardware %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">

                            <div class="carousel_item">
                                <h4>{{ item.name }}</h4>
                                
                                <img src="{{ item.image }}" alt="{{ item.image_alt }}" style="width: 80%; height: auto;">
                                
                                <p class="img_source">
                                    Image source: <a href="{{ item.image_src }}" class="img_source_link">Pinterest</a>
                                </p>
                                
                                <p>{{ item.description }}</p>                              
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>       
    </section>

    <section id="section3" class="section_3">
        <h1>Behavioural AI</h1>
        <div class="border" style="width: 100%; margin-top: 10px;"></div>
    
        <div class="container">
            <div class="behavioural_content">
                <h2>Behavioural AI is a type of artificial intelligence that focuses on understanding and replicating human behaviour through machine learning and data analysis</h2>
                <h3>For Example :</h3>
                <ul>
                    <li>Chatbots</li>
                    <li>Recommendation Systems</li>
                    <li>Autonomous Vehicles</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}