<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motherboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section class="section_wiki">
        <br>
        <div class="wiki_title">
            <div class="wiki_back">
                <a href="{{ url_for('main.index') }}#section2">←</a>
            </div>
            <h1 style="margin-top: 0.4%; font-weight: 500;">Motherboard</h1>
        </div>
        <div class="border" style="width: 100%; margin-top: 12px; height: 0.5px; background-color: gray;"></div>
        <div class="wiki_container">
            <div class="wiki_content">
                <div class="wiki_text">
                    <p>
                        A motherboard, also called a mainboard, a system board, a logic board, and informally a mobo (see "Nomenclature" section), is the main printed circuit board (PCB) in general-purpose computers and other expandable systems. It holds and allows communication between many of the crucial electronic components of a system, such as the central processing unit (CPU) and memory, and provides connectors for other peripherals.
                    </p>
                    <br>
                    <p>
                        Unlike a backplane, a motherboard usually contains significant sub-systems, such as the CPU, the chipset's input/output and memory controllers, interface connectors, and other components integrated for general use.[1]: 48
                    </p>
                    <br>
                    <h1 style="font-weight: lighter;">Nomenclature</h1>
                    <div class="border" style="width: 100%; height: 1px; background-color: black;"></div>
                    <br>
                    <p>
                        Oxford English Dictionary traces the origin of the word motherboard to 1965, its earliest-found attestation occurring in the magazine Electronics.[2] The term alludes to its importance and size compared to the components attached to it, being the "mother of all boards" in a computer system.[3]
                    </p>
                    <br>
                    <p>
                        Several alternative terms for motherboard have been used in technical documentation and industry practice, including mainboard, system board, logic board, baseboard, and the informal mobo. These terms are functionally synonymous and reflect regional, corporate, or contextual preferences rather than a coordinated effort to adopt gender-neutral language.
                    </p>
                    <br>
                    <p>
                        System board was used by IBM in documentation for the IBM PC and its derivatives; however, higher-end models in the PS/2 line, such as the Model 80, used the term planar instead. Apple commonly uses logic board in its technical documentation for products such as the Apple II and the Mac. Intel typically uses baseboard in its technical manuals, though it also uses motherboard interchangeably.[1] The term mobo is an informal truncation of motherboard, popularized by computer enthusiasts and builders in the 1990s.[4]
                    </p>
                    <br>
                    <p>
                        The term mainboard sometimes describes a device with a single board and no additional expansions or capability, such as controlling boards in laser printers, television sets, washing machines, mobile phones, and other embedded systems with limited expansion abilities.
                    </p>
                </div>
                <div class="wiki_image">
                    <div class="motherboard_image"></div>
                    <br>
                    <p>The motherboard of a Dell Precision T3600 workstation from 2012</p>
                    <div class="wiki_image_text">
                    </div>               
                </div>
            </div>
        </div>       
    </section>
</body>
</html>