<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        body{
            padding: 40px;
        }
    </style>
</head>
<body>
    <h2 style="text-align:center; margin: 25px;">Behaviorist AI Integration</h2>

    <div class="quiz-box" id="quiz-box">
    
    </div>

    <script src="quiz_display.js"></script>
    <script>
        fetch('../data/bai_quiz.json')
        .then(res => res.json())
        .then(data => {
            quizData = data;
            renderQuestion();
        })
        .catch(err => console.error("Error loading quiz:", err));
    </script>
</body>
</html>