<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<div class="quiz-home">
    <div style="display: flex; width: 100%; align-items: center;">
        <div class="wiki_back" style="margin-right: 10px;">
            <a href="../index.html">←</a>
        </div>
        <h2 style="margin: 0;">Select a Quiz Topic</h2>
    </div>
    <div class="border" style="width: 100%; margin-top: 5px;"></div>
    <div class="topics-grid">
        
    </div>

    <script>
        quiz_topics = [
            {
                "topic" : "hardware fundamentals with behaviorist AI concepts",
                "link" : "hfwbac_quiz_page.html",
                "total_questions" : 10,
                "difficulty" : "easy",
            },
            {
                "topic" : "behaviorist AI integration",
                "link" : "bai_quiz_page.html",
                "total_questions" : 20,
                "difficulty" : "medium",
            },
            {
                "topic" : "hardware basics",
                "link" : "hb_quiz_page.html",
                "total_questions" : 12,
                "difficulty" : "easy",
            },
        ];
        document.addEventListener('DOMContentLoaded', () => {
            quiz_topics_container = document.querySelector('.topics-grid');
            // console.log("loadded");

            quiz_topics.forEach((item) => {
                const div = document.createElement('div');
                div.className = `topic-card`;

                div.innerHTML = `
                    <div>
                        <h6 style="text-transform: capitalize;">${ item.topic }</h6>

                        <p>Total Questions: ${ item.total_questions }</p>

                        <p style="font-size: 17px;">Difficulty: <span style="color: ${ item.difficulty == "easy" ? "green" : item.difficulty == "hard" ? "red" : "orange"}; font-size: 18px;">${ item.difficulty }</span></p>
                    </div>
                    <a href="${ item.link }" class="btn btn-primary">Start Quiz</a>
                `;
                quiz_topics_container.appendChild(div);
            });
        });
    </script>
</div>
</html>