<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <section class="section_wiki">
        <br>
        <div class="wiki_title">
            <div class="wiki_back">
                <a href="../index.html">←</a>
            </div>
            <h1 style="margin-top: 0.4%; font-weight: 500;">Computer Data Storage</h1>
        </div>
        <div class="border" style="width: 100%; margin-top: 12px; height: 0.5px; background-color: gray;"></div>
        <div class="wiki_container">
            <div class="wiki_content">
                <div class="wiki_text">
                    <p>
                        Computer data storage or digital data storage is the retention of digital data via technology consisting of computer components and recording media. Digital data storage is a core function and fundamental component of computers.
                    </p>
                    <br>
                    <p>
                        Generally, the faster and volatile storage components are referred to as "memory", while slower persistent components are referred to as "storage". This distinction was extended in the Von Neumann architecture, where the central processing unit (CPU) consists of two main parts: The control unit and the arithmetic logic unit (ALU). The former controls the flow of data between the CPU and memory, while the latter performs arithmetic and logical operations on data. In practice, almost all computers use a memory hierarchy,[1]: 468–473  which puts memory close to the CPU and storage further away.
                    </p>
                    <br>
                    <p>
                        In modern computers, hard disk drives (HDDs) or solid-state drives (SSDs) are usually used as storage.
                    </p>
                    
                </div>
                <div class="wiki_image" class="cpu">
                    <div class="hdd_image"></div>
                    <br>
                    <p>15 GB PATA hard disk drive (HDD) from 1999. When connected to a computer it serves as secondary storage.</p>
                    <div class="wiki_image_text">
                    </div>               
                </div>
            </div>
        </div>       
    </section>
</body>
</html>